.weather .card {
  margin-bottom: 1.5em;
  color: rgb(255, 255, 255);
  background: rgb(213, 87, 48);
  background: linear-gradient(
    90deg,
    rgb(230, 103, 64) 0%,
    rgba(255, 112, 27, 1) 100%
  );
}

.weather h1 {
  text-align: center;
  font-size: 4em;
}

.weather p {
  text-align: center;
}

.weather ul {
  margin: 0;
  padding: 1.5em;
  width: ;
}

.weather ul li {
  list-style-type: none;
  font-weight: 600;
  margin-bottom: 8px;
}
